html, body {
    margin: 0;
    color: black;
    font-family: courier;
  }
.container {
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.left, .right {
    top: 0;
    display: flex;
	justify-content: center;
	align-items: center;
    width: 50%;
    min-height: 100vh;
	flex-direction: column;
}
.result {
    width: 45%;
    border-top: 2px solid #787e81;
    border-right: 2px solid #787e81;
    border-left: 10px solid #51abe4;
    border-bottom: 2px solid #787e81;
    padding: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .left, .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
    } 
  
      .container { 
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      .result {
          font-weight: bold;
          width: 70%;
      }
  }
  
.left {
    background-image: url("photo.jpg");
}
.right {
    background-color: white;
}
textarea {
    width: 65%;
    font-size: 13px;
}
p {
    width: 65%;
}
#button {
    background-color: black;
    font-family: courier;
	color: #51abe4;
	width: 200px;
	height: 40px;
	font-size: 20px;
}